<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" href="../assets/styles/navbar.css">
    <link rel="stylesheet" href="../assets/styles/password.css">
</head>
<body>

    <!-- navbar -->
    <header>
        <section class="navbar-section" id="navbar-section">
            <div class="navbar" id="navbar">
                <div class="logo">
                    <a href="./dashboard.html">
                        <p>Dashboard</p>
                    </a>
                </div>
                <ul>
                    <a href="./viewProfile.html">
                        <li>Profile</li>
                    </a>

                    <a href="./showUsers.html">
                        <li>Show Users</li>
                    </a>

                    <a href="./userLogin.html">
                        <li id="signOutBtn">Sign Out</li>
                    </a>
                </ul>
            </div>
        </section>
    </header>


    <div class="change-password">
        <form action="">
            <label for="currentPassword">Enter Current Password: </label>
            <input type="password" name="currentPassword" id="currentPassword">
            <p class="password" id="currentPasswordError"></p>

            <label for="newPassword">Enter New Password: </label>
            <input type="password" name="newPassword" id="newPassword">
            <p class="password" id="newPasswordError"></p>

            <label for="confirmPassword">Confirm Password: </label>
            <input type="password" name="confirmPassword" id="confirmPassword">
            <p  class="password" id="confirmPasswordError"></p>

            <input type="submit" class="btn" id="submitBtn" value="Change password">
        </form>
    </div>
    
    <script src="../js/changePassword.js" type="module"></script>
</body>
</html>